* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #A8DF8E;
}
img {
 align-items: center;
 justify-content: center;
 width: 400px;
 height: 400px;
}
h1 {
    text-decoration: dashed;
    font-family: 'Helvetica';
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color:#D2DE32;
}
h2 {
    font-family: 'comic sans ms';
    font-size: 25px;
    text-align: center;
    border-style: solid;
    border-color: #FF8080;
    border-radius: 20px;
    clear: both;
}
p {
    font-family: 'fantasy';
    font-size: 25px;
    text-align: justify;
    width: 900px;
    padding: 20px;
    margin: 30px auto;
    line-height: 30px;
    background-color: bisque;
    clear: both;
}
d1 {
    line-height: 30px;
}
dt {
    font-family: 'Lucida Sans';
    background-color: rgb(133, 113, 88);
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    padding: 5px;
}
dd {
    background-color: rgb(246, 233, 200);
    font-family: monospace;
    font-size: 18px;
    text-indent: 40px;
    text-align: justify;
    width: 100%;
    height: 100%;
    line-height: 30px;
    padding: 10px;
    box-sizing:border-box;
}
a {
    color: black;
    text-decoration: underline;
    text-transform: capitalize;
    line-height: 30px;
    padding: 20px;
}
.macam-macamminumansehat {
    width: 500px;
    margin: 30px auto;
}
d1 img {
    background-color: beige;
    width: 200px;
    /*border-top-left-radius: 50px;*/
    border-radius: 100px;
    float: left;
    /*margin-top: 10px;
    margin-right: 20px;*/
    margin: 10px 20px 10px 0px;
    padding: 10px;
}
.clear {
    clear: center;
}
.footer {
    margin-left: 100px;
    text-align: center;
}
